.comments {
  margin-top: 24px;
}

.comment-block {
  display: block;
  margin-top: 18px;
  padding-top: 8px;
  border-top: 1px solid _palette(border);
}

.comment-title {
  font-size: 0.6em;
  display: flex;
  justify-content: space-between;
}

.comment-date {
  color: _palette(meta);
}

.comment-body {
  color: _palette(primary);
}
